/* Menu.css */
.menu {
  background-color: #5a5a5a; /* Cor de fundo do menu */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  color: #fff; /* Cor do texto do logo */
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}



.menu-item {
  color: #fff; /* Cor do texto dos itens do menu */
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu-item:hover {
  font-weight: bold;
  color: rgb(255, 255, 255);
}


.buttonFirst {
  background: none;
  border: transparent;
  color: white;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 16px;
  padding: 1.2em;
  margin-top: 140px;
}


.buttonFirst:hover {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: none;
}

.buttonWrapper {
  margin-left: 50px;
}

.active {
  text-decoration: underline; 
  font-weight: bold; 
}